
/* general */

* {
    font-size: 6vh;
    font-weight: bold;
    padding: 0;
    margin: 0;
    /*border: transparent 0px solid;*/
}


body {
    background-color: rgb(90, 90, 90);
    
}

.container {
    width: 100%;
    max-width: calc(100vh * 0.5625);
    height: 93vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    position: relative;

}

#screen {
    background-color: rgb(240, 240, 240);
    display: grid;
    height: calc(36.75vh);
    place-content: center;
    border: black 2px solid;
    border-radius: 5vh;
    margin: 10px;
}

p.active {
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.grid {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: inherit;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    margin: 10px;
}

button {
    border-radius: 5vh;
    border: black 2px solid;
    height: 10vh;
    max-height: calc((100vh * 0.5625)/4);
}

.argument {
    background-color: lightblue;
    color: #fff;
}



@keyframes blink {
    0% { color: black;}
    49% {color: black;}
    50% { color: rgb(240, 240, 240);}
    100% { color: rgb(240, 240, 240);}
}
